.gerenciar-page {
    position: relative;
    padding: 40px;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.gerenciar-page::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../../../assets/fundo_telas_poliedro.jpeg") center/cover no-repeat;
    opacity: 0.; /* ajuste conforme desejar */
    z-index: -1;
    pointer-events: none;
}
