.coordenacao-background {
    position: relative;
    padding: 40px;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.coordenacao-background::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../../assets/fundo_telas_poliedro.jpeg') center/cover no-repeat;
    opacity: 0.4;
    z-index: 0;
}

.coordenacao-background > * {
  position: relative;
  z-index: 1;
}


.card-grid {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}