.ranking-page {
    background: url("/src/assets/fundo_telas_poliedro.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}