.ranking-page {
  position: relative;
  padding: 40px;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.ranking-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../assets/fundo_telas_poliedro.jpeg') center/cover no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
