.professor-background {
  position: relative;
  padding: 40px;
  min-height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.professor-background::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('../../assets/fundo_telas_poliedro.jpeg') center/cover no-repeat;
  opacity: 0.4; /* ajuste a opacidade conforme necessário */
  z-index: 0;
}

.professor-background > * {
  position: relative;
  z-index: 1;
}

.card-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
