/* .turma-background {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.turma-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../../../assets/fundo_telas_poliedro.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.4; 
  z-index: 0;
} */

.turma-background {
  position: relative;
  padding: 40px;
  min-height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.turma-background::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('../../../assets/fundo_telas_poliedro.jpeg') center/cover no-repeat;
  opacity: 0.4; 
  z-index: -1;
}